servicios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="gymxperience">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clase" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="actividad" type="xs:string"/>
                            <xs:element name="monitor" type="xs:string"/>
                            <xs:element name="hora" type="xs:string"/>
                            <xs:element name="sala" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
